@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ring: theme(colors.brand.400);
}

* { box-sizing: border-box; }

body {
  font-feature-settings: "cv02","cv03","cv04","cv11";
}

input, select, textarea { color-scheme: dark; }
